<section style="max-width: 1400px" class="container-fluid">
  <div class="row">
    <div class="col">
      <p style="font-weight: bold; font-size: xxx-large; margin-top: 40px">ÜBER UNS</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p style="font-weight: bold; font-size: x-large">Das Unternehmen</p>
    </div>
  </div>
  <div class="clearfix">
    <img style="border-radius: 20px" class="col-md-6 float-md-end mb-3 ms-md-3" src="assets/company.jpg" width="100%"
         height="auto" alt="company">
    <p style="font-weight: bold">
      Willkommen bei Carmatch - Ihrem zuverlässigen Partner für den Kauf von Gebrauchtwagen!
    </p>
    <p>Bei Carmatch verstehen wir, dass der Kauf eines Gebrauchtwagens eine wichtige Entscheidung ist, die
      sorgfältige
      Überlegungen erfordert. Deshalb haben wir es uns zur Aufgabe gemacht, Ihnen dabei zu helfen, das perfekte
      Auto
      zu finden - eines, das genau zu Ihren Bedürfnissen, Ihrem Stil und Ihrem Budget passt.
    </p>
    <p>
      Wir haben eine umfangreiche Auswahl an qualitätsgeprüften Gebrauchtwagen verschiedener Marken und Modelle,
      die
      sorgfältig ausgewählt wurden, um sicherzustellen, dass sie den höchsten Standards entsprechen. Jedes
      Fahrzeug
      wird einer gründlichen Inspektion unterzogen, um sicherzustellen, dass es in einwandfreiem Zustand ist und
      Ihnen
      jahrelange Freude bereiten wird.
    </p>
    <p>
      Was uns von anderen Gebrauchtwagenhändlern unterscheidet, ist unser einzigartiger Matching-Ansatz. Wir
      glauben,
      dass das Finden des richtigen Autos mehr ist als nur die passende Marke und das passende Modell. Es geht
      darum,
      Ihren individuellen Bedürfnissen gerecht zu werden und ein Auto zu finden, das perfekt zu Ihrem Lebensstil
      und
      Ihren Anforderungen passt.
    </p>
    <p>
      Unser Team nimmt sich die Zeit, Ihre Präferenzen und Anforderungen genau zu verstehen. Wir berücksichtigen
      Ihre
      finanziellen Möglichkeiten, Ihre Fahrgewohnheiten, Ihre bevorzugten Funktionen und vieles mehr.
    </p>
    <p>
      Wir nehmen Ihnen die lästige Suche ab und präsentieren Ihnen eine Auswahl an Autos, die perfekt zu Ihnen
      passen.
    </p>
    <p>
      Bei Carmatch möchten wir, dass Ihr Autokauf eine positive und stressfreie Erfahrung ist. Deshalb bieten
      wir
      Ihnen nicht nur eine umfangreiche Fahrzeugauswahl und eine individuelle Beratung, sondern auch eine
      transparente
      Preisgestaltung und, die zu Ihnen passt. Unser Ziel ist es, Ihnen das Vertrauen zu geben, dass Sie das
      bestmögliche Auto zum besten Preis erhalten.
    </p>
    <p>
      Entdecken Sie noch heute die Vielfalt an Gebrauchtwagen bei Carmatch und lassen Sie uns Ihnen helfen, das
      perfekte Auto zu finden. Kontaktieren Sie unser Team oder besuchen Sie unsere Website, um mehr zu
      erfahren.
      Wir
      freuen uns darauf, Sie auf Ihrer Reise zu begleiten.
    </p>
    <p>
      Hol dir die Freiheit auf vier Rädern mit unserem Autoexport- und Importservice! Wir machen es einfach,
      dein
      Traumauto aus dem Ausland zu bekommen oder dein Fahrzeug in andere Länder zu verkaufen. Unser erfahrenes
      Team
      kümmert sich um den gesamten Prozess, von der Beschaffung und Inspektion bis hin zum sicheren Transport.
      Mit
      uns
      kannst du die Vielfalt der Automobilwelt entdecken und von den besten Angeboten profitieren. Vertraue auf
      unsere
      Expertise und lass uns gemeinsam deine automobilen Träume verwirklichen. Kontaktiere uns noch heute und
      starte
      dein Abenteuer auf den Straßen der Welt!
    </p>
  </div>
  <div class="row">
    <div class="col">
      <p style="font-weight: bold; font-size: x-large">Das Team</p>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center">
    <div class="card p-0 m-5" style="width: 18rem;">
      <img src="assets/daniel.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Daniel Berger</h5>
        <p class="card-text">Founder</p>
      </div>
    </div>
    <div class="card p-0 m-5" style="width: 18rem;">
      <img src="assets/nico.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nico Schneider</h5>
        <p class="card-text">Webdeveloper</p>
      </div>
    </div>
  </div>
</section>
