<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
</head>
<body data-bs-spy="scroll" data-bs-target=".nav" data-bs-offset="50">


<header style="background-color: rgb(30, 34, 38); color: white">
  <div class="container-fluid" style="height: 40px; display: flex">
    <p style="padding-top: 7px">CarMatch, Beispielstraße, Beispielort</p>
    <p style="padding-top: 7px; margin-left: auto; margin-right: 10px">+491254644654</p>
    <button type="button" class="btn btn-secondary" style="border-radius: 0">
      <p>jetzt anrufen</p>
    </button>
  </div>
</header>

<section style="background-image: url(assets/porsche.jpg); height: 920px; background-position: top">

<nav [ngClass]="{'sticky-top': isSticky, 'navbar-light bg-light': isLight, 'navbar-dark bg-dark': !isLight}"
     *ngIf="isSmallNav" class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark" id="navbarSmall">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CarMatch</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbarSmall">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbarSmall">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">ÜBER UNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav [ngClass]="{'sticky-top': isSticky, 'navbar-light bg-transparent': isLight, 'navbar-dark bg-dark': !isLight}"
     style="height: 90px" *ngIf="!isSmallNav" class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark"
     id="navbarNormal">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/Color%20logo%20-%20no%20background.png" alt="logo" height="50px" width="200px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbarNormal">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbarNormal">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">ÜBER UNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



  <div style="margin-top: 40px;" class="container-fluid" id="home">
    <img class="img-fluid" src="assets/Color%20logo%20-%20no%20background.png" alt="auto">
  </div>

</section>

  <div class="container-fluid">
  </div>
  <section class="container-fluid">
    <div style="display: flex; justify-content: center; margin-top: 40px" id="about">
      <p style="font-weight: bold">ÜBER UNS</p>
    </div>
  </section>

  <div class="container-fluid">
    <hr>
  </div>

  <section class="container-fluid" style="display: flex; justify-content: center" >
    <div id="contact">
      <div style="display: flex; justify-content: center">
        <p style="font-weight: bold">KONTAKT</p>
      </div>
      <p>Sie wollen weitere Informationen? Senden Sie uns gerne eine Nachricht über dieses Kontaktformular.</p>
      <form id="input">
        <div class="row">
            <div class="col p-2">
              <label for="firstname" class="form-label">Vorname:</label>
              <input [(ngModel)]="firstName" type="text" class="form-control" id="firstname" placeholder="Vorname" name="firstname">
            </div>
          <div class="col p-2">
              <label for="lastname" class="form-label">Nachname:</label>
              <input [(ngModel)]="lastName" type="text" class="form-control" id="lastname" placeholder="Nachname" name="lastname">
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Email" name="email">
        </div>
        <div class="mb-3">
          <label for="message">Nachricht:</label>
          <textarea [(ngModel)]="message" class="form-control" rows="8" id="message" name="text"></textarea>
        </div>
        <button (click)="sendMessage()" type="submit" class="btn btn-secondary" id="submitBtn">Senden</button>
      </form>
    </div>
  </section>


<footer>

</footer>

</body>
</html>
