<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CarMatch Website</title>
</head>
<body data-bs-spy="scroll" data-bs-target=".nav" data-bs-offset="50">


<header style="background-color: rgb(30, 34, 38); color: white; position: relative; z-index: 1">
  <div *ngIf="!isSmallNav" class="container-fluid" style="height: 40px; display: flex">
    <p style="padding-top: 7px">CarMatch, Beispielstraße, Beispielort</p>
    <a class="nav-link" href="tel:00495656465" *ngIf="!isSmallNav"
       style="padding-top: 7px; margin-left: auto; margin-right: 10px">
      <svg style="margin-right: 5px; margin-bottom: 3px" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           fill="currentColor" class="bi bi-telephone"
           viewBox="0 0 16 16">
        <path
          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>
      +491254644654
    </a>
    <p style="padding-top: 7px; cursor: pointer" data-bs-toggle="dropdown" aria-expanded="false">
      Sprache <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </svg>
    </p>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="#">Deutsch</a></li>
      <li><a class="dropdown-item" href="#">Englisch</a></li>
      <li><a class="dropdown-item" href="#">Georgisch</a></li>
      <li><a class="dropdown-item" href="#">Russisch</a></li>
    </ul>
  </div>

  <div *ngIf="isSmallNav" class="container-fluid" style="height: 20px; display: flex">
    <p style="padding-top: 3px; font-size: xx-small">CarMatch, Beispielstraße, Beispielort</p>
    <a class="nav-link" href="tel:00495656465" *ngIf="isSmallNav"
       style="padding-top: 3px; margin-left: auto; font-size: xx-small">
      <svg style="margin-right: 3px; margin-bottom: 1px" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
           fill="currentColor" class="bi bi-telephone"
           viewBox="0 0 16 16">
        <path
          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>
      +491254644654
    </a>
    <p style="padding-top: 3px; padding-left: 5px; font-size: xx-small; cursor: pointer" data-bs-toggle="dropdown" aria-expanded="false">
      Sprache <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </svg>
    </p>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="#">Deutsch</a></li>
      <li><a class="dropdown-item" href="#">Englisch</a></li>
      <li><a class="dropdown-item" href="#">Georgisch</a></li>
      <li><a class="dropdown-item" href="#">Russisch</a></li>
    </ul>
  </div>
</header>

<nav [ngClass]="{'sticky-top': isSticky, 'navbar-light bg-transparent': isLight, 'navbar-dark bg-dark': !isLight}"
     *ngIf="isSmallNav" class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark" id="navbarSmall">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/Color%20logo%20-%20no%20background.png" alt="logo" height="50px"
                                          width="200px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbarSmall">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbarSmall">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">ÜBER UNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav style="height: 90px; background-position: top;"
     [ngClass]="{'sticky-top': isSticky, 'navbar-light bg-transparent': isLight, 'navbar-dark bg-dark': !isLight}"
     *ngIf="!isSmallNav" class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark"
     id="navbarNormal">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/Color%20logo%20-%20no%20background.png" alt="logo" height="50px"
                                          width="200px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbarNormal">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbarNormal">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">ÜBER UNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section style="background-image: url(assets/porsche.jpg); height: 920px; background-position: top">

  <div style="margin-top: -90px" class="container-fluid" id="home">
    <img style="margin-top: 200px" class="img-fluid" src="assets/Color%20logo%20-%20no%20background.png" alt="auto">
  </div>

</section>

<section class="container-fluid text-center" id="about">
  <div class="row">
    <div class="col">
      <p style="font-weight: bold; font-size: xxx-large; margin-top: 40px">ÜBER UNS</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
        dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center">
    <img class="col p-5 col-md-2" src="assets/daniel.jpeg" alt="daniel">
    <img class="col p-5 col-md-2" src="assets/nico.jpeg" alt="nico">
  </div>
</section>

<div class="container-fluid">
  <hr>
</div>

<section class="container-fluid" style="display: flex; justify-content: center" id="contact">
  <div>
    <div style="display: flex; justify-content: center">
      <p style="font-weight: bold; font-size: xxx-large">KONTAKT</p>
    </div>
    <p style="font-weight: bold">Sie wollen weitere Informationen? Senden Sie uns gerne eine Nachricht über dieses
      Kontaktformular.</p>
    <form id="input">
      <div class="row">
        <div class="col">
          <label for="firstname" class="form-label"></label>
          <input style="border: 1px solid black" [(ngModel)]="firstName" type="text" class="form-control" id="firstname"
                 placeholder="Vorname" name="firstname">
        </div>
        <div class="col">
          <label for="lastname" class="form-label"></label>
          <input style="border: 1px solid black" [(ngModel)]="lastName" type="text" class="form-control" id="lastname"
                 placeholder="Nachname" name="lastname">
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"></label>
        <input style="border: 1px solid black" [(ngModel)]="email" type="email" class="form-control" id="email"
               placeholder="Email" name="email">
      </div>
      <div class="mb-3">
        <label for="message"></label>
        <textarea style="border: 1px solid black" [(ngModel)]="message" class="form-control" rows="8" id="message"
                  name="text" placeholder="Nachricht"></textarea>
      </div>
      <button (click)="sendMessage()" type="submit" class="btn btn-secondary" id="submitBtn">Senden</button>
    </form>
  </div>
</section>


<footer>

</footer>

</body>
</html>
