<section style="max-width: 1400px; margin-top: 20px" class="container-fluid">
  <div class="row">
    <div class="col">
      <h1><b>Impressum der CarMatch UG (haftungsbeschränkt)</b></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><br><b>CarMatch UG (haftungsbeschränkt)</b><br>Beispielstraße 12<br>35644 Gießen<br>Deutschland</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><b>Kontakt</b><br>Telefon: +49211454564654<br>E-Mail: nicoschneider9809@gmail.com<br>Internet: www.carmatch.com</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><br><br><b>Vertretungsberechtigter Geschäftsführer</b><br>Daniel Berger</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><b>Registernummer:</b><br>HRB9855</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><b>Registergericht:</b><br>AG Gießen</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><b>Umsatzsteueridentifikationsnummer gemäß § 27a: Umsatzsteuergesetz:</b><br> DE XXXXXXXXXXXX</p>
    </div>
  </div>
</section>
