<body data-bs-spy="scroll" data-bs-target=".nav" data-bs-offset="50">
<header class="bg-dark" style="color: white; position: relative; z-index: 1" #home>
  <div *ngIf="!isSmallNav" class="container-fluid" style="height: 40px">
  <div class="row flex-nowrap">
      <div style="display: flex; justify-content: left" class="col text-start">
        <p style="padding-top: 7px">
          <svg style="margin-top: -3px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
               viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg>
          Mo-Fr: 8:00-17:00 Uhr
        </p>
      </div>
      <div style="display: flex; justify-content: center" class="col flex-nowrap text-center">
        <p style="padding-top: 7px;">CarMatch, Erdaer Str. 12, 35644 Hohenahr</p>
      </div>
      <div style="display: flex; justify-content: end" class="col text-end">
        <p style="padding-top: 7px; margin-right: 5px">Language:</p>
        <p style="padding-top: 7px; cursor: pointer" data-bs-toggle="dropdown" aria-expanded="false">
          {{currentLanguage || "German"}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-caret-down-fill"
               viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </p>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a (click)="setCurrentLanguage('German')" class="dropdown-item" href="#">German</a></li>
          <li><a (click)="setCurrentLanguage('English')" class="dropdown-item" href="#">English</a></li>
          <li><a (click)="setCurrentLanguage('Georgian')" class="dropdown-item" href="#">Georgian</a></li>
          <li><a (click)="setCurrentLanguage('Russian')" class="dropdown-item" href="#">Russian</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isSmallNav" class="container-fluid" style="height: 20px">
    <div class="row flex-nowrap">
      <div style="display: flex; justify-content: left" class="col">
        <p class="nav-link" style="padding-top: 3px; font-size: xx-small" href="mailto:nicoschneider9809@gmail.com">
          <svg style="margin-top: -2px" xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor"
               class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg>
          Mo-Fr: 8:00-17:00 Uhr
        </p>
      </div>
      <div style="display: flex; justify-content: right" class="col">
        <p style="padding-top: 3px; font-size: xx-small">Language:</p>
        <p style="padding-top: 3px; padding-left: 5px; font-size: xx-small; cursor: pointer"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          {{currentLanguage || "German"}}
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-caret-down-fill"
               viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </p>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a (click)="setCurrentLanguage('German')" class="dropdown-item" href="#">German</a></li>
          <li><a (click)="setCurrentLanguage('English')" class="dropdown-item" href="#">English</a></li>
          <li><a (click)="setCurrentLanguage('Georgian')" class="dropdown-item" href="#">Georgian</a></li>
          <li><a (click)="setCurrentLanguage('Russian')" class="dropdown-item" href="#">Russian</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<nav [ngClass]="{'sticky-top': isSticky}"
     *ngIf="isSmallNav" class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark" id="navbarSmall">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/Color%20logo%20-%20no%20background.png" alt="logo" height="50px"
                                          width="200px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbarSmall">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbarSmall">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('home')">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('about')">ÜBER UNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('contact')">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav style="height: 90px; background-position: top;"
     [ngClass]="{'sticky-top': isSticky, 'navbar-light bg-transparent': isLight, 'navbar-dark bg-dark': !isLight}"
     *ngIf="!isSmallNav" class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark"
     id="navbarNormal">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/Color%20logo%20-%20no%20background.png" alt="logo" height="50px"
                                          width="200px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbarNormal">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbarNormal">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('home')">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('about')">ÜBER UNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('contact')">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section style="background-image: url(assets/porsche.jpg); background-position: top; height: 100vh">
  <div style="margin-top: -90px" class="container-fluid">
    <img style="margin-top: 200px" class="img-fluid" src="assets/Color%20logo%20-%20no%20background.png" alt="auto">
  </div>
</section>
<div #about>
  <app-about></app-about>
</div>
<div style="max-width: 1400px;" class="container-fluid">
  <hr>
</div>
<div #contact>
  <app-contact></app-contact>
</div>
<app-footer></app-footer>
</body>
